.cat{
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 2rem;
    align-items: center;
    
}
.cat span{
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
    transition: transform 0.1s ease;
    cursor: pointer;
}
.cat span:hover{
    transform: scale(1.1);
   
}
@media (max-width: 920px){
    .cat{
        display: none;
    }
}